<%= content_for(:body_attributes) do %>data-no-turbolink<% end %>
<% page_header "Start Conversation" %>

<%= form_tag messages_path, method: :post do %>

  <div class="form-group">
    <%= label_tag 'recipients', 'Recepient:' %>
    <%= select_tag 'recipients', recipients_options(@chosen_recipient), multiple: true, disabled: true,  class: 'form-control', id: 'select' %>
  </div>

  <div class="form-group">
    <%= label_tag 'message[subject]', 'Subject' %>
    <%= text_field_tag 'message[subject]', nil, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= label_tag 'message[body]', 'Message' %>
    <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true %>
  </div>

  

  <%= submit_tag 'Send', class: 'btn btn-primary' %>
<% end %>

<script>
$('#select').selectize({
    create: true,
    sortField: 'text'
});
</script>