<% provide(:title, @user.firstName) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.firstName + ' ' + @user.lastName  %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.tbpost.any? %>
      <h3>tbpost (<%= @user.tbpost.count %>)</h3>
      <ol class="tbpost">
        <%= render @tbpost %>
      </ol>
      <%= will_paginate @tbpost %>
    <% end %>
  </div>
</div>