<li id="tbpost-<%= tbpost.id %>">
  <%= link_to gravatar_for(tbpost.user, size: 50), tbpost.user %>
  <span class="user"><%= link_to tbpost.user.firstName, tbpost.user %></span>
  <span class="content">
  <%= tbpost.content %>
  	<%= image_tag tbpost.picture.url if tbpost.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(tbpost.created_at) %> ago.
    <% if current_user?(tbpost.user) %>
      <%= link_to "delete", tbpost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>