<%= simple_form_for @post do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <%= f.input :name, label: 'Title: ' %>
   <%= f.input :offerrequest, placeholder: 'Select an option', label: "Is your post a request or an offer?" ,
    :include_blank => false %>
   <%= f.input :postitemservice, placeholder: "Select an option", label: "And is your post in regards to an item, or a service?",
     input_html: { id: 'itemservice_selector' },
     :include_blank => false %>
  <%= f.input :description, as: :text %>

<div class="form-group">
<label class="sr-only" for="price">Amount (in dollars)</label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
     
      <%= f.input :price, label: false, as: :integer, input_html: { maxlength: 5, id: "price"} %>
      <div class="input-group-addon">.00</div>
      <p class="help-block">Example block-level help text here.</p>
    </didv>
    </div>
     <%= f.input :obo, label: "Is your item OBO (Or Best Offer?)" %>
     

     <%= f.input :category, as: :selectize, input_html: { id: "category-select"} %>
 <div id="attached_assets"> 
    <%= f.simple_fields_for :attached_assets, AttachedAsset.new do |asset| %>
      <%= render 'attached_asset_fields', :f => asset %>
      <div class="links">
        <%= link_to_add_association 'Add Another Photo', f, :attached_assets %>
      </div>
    <% end %>
  </div>
    

<!-- hey -->
  <%= f.button :submit %>
   
<% end %>


<script>
$(document).ready(function(){
    $("#itemservice_selector").change(function(){
        if($("#itemservice_selector").val() == "Item"){
          $( "item_selected" ).prop( "disabled", false ); 
         $( "service_selected" ).prop( "disabled", true );
        } 
        else if($("#itemservice_selector").val() == "Service"){
           $( "item_selected" ).prop( "disabled", true ); 
         $( "service_selected" ).prop( "disabled", false );
        }            
    });        
});

$("#category-select").selectize({
    options: [
        {id: '1', itemservice: 'item', alias: 'Furniture'},
        {id: '2', itemservice: 'item', alias: 'Clothes'},
        {id: '3', itemservice: 'item', alias: 'Books'},
        {id: '4', itemservice: 'item', alias: 'Art & Décor'},
        {id: '5', itemservice: 'item', alias: 'Kitchen'},
        {id: '6', itemservice: 'item', alias: 'Appliances'},
        {id: '7', itemservice: 'item', alias: 'Electronic Accessories'},
        {id: '8', itemservice: 'item', alias: 'Electronic Devices'},
        {id: '9', itemservice: 'item', alias: 'TV & Gaming'},
        {id: '10', itemservice: 'item', alias: 'Mobile Devices & Computers'},
        {id: '11', itemservice: 'item', alias: 'Office/School Supplies'},
        {id: '12', itemservice: 'item', alias: 'Miscellaneous Item'},
        {id: '13', itemservice: 'service', alias: 'Tutoring'},
        {id: '14', itemservice: 'service', alias: 'Research'},
        {id: '15', itemservice: 'service', alias: 'Job & Internship'},
        {id: '16', itemservice: 'service', alias: 'Photography'},
        {id: '17', itemservice: 'service', alias: 'Miscellaneous Service'},
    ],


    optgroups: [
        {id: 'item', name: 'Item'},
        {id: 'service', name: 'Service'},
        
    ],
    labelField: 'alias',
    valueField: 'id',
    optgroupField: 'itemservice',
    optgroupLabelField: 'name',
    optgroupValueField: 'id',
    optgroupOrder: ['item', 'service'],
    searchField: ['alias'],
    plugins: ['optgroup_columns'],
    maxItems: 1
});

</script>