<%= form_for(@post) do |f| %>
<%= render 'shared/error_messages', object: f.object %>


  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :free %>
    <%= f.check_box :free, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= f.label :obo %>
    <%= f.check_box :obo, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= f.label :expiredate %>
    <%= f.date_select :expiredate, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= f.label :tix_eventname %>
    <%= f.text_field :tix_eventname, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= f.label :tix_eventdate %>
    <%= f.date_select :tix_eventdate, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= f.label :tb_classname %>
    <%= f.text_field :tb_classname, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= f.label :tb_classnumber %>
    <%= f.number_field :tb_classnumber, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= f.label :tb_edition %>
    <%= f.number_field :tb_edition, class: 'form-control'  %>
  </div>
<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker5'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker5').datetimepicker({
                    defaultDate: "11/1/2013",
                    disabledDates: [
                        moment("12/25/2013"),
                        new Date(2013, 11 - 1, 21),
                        "11/22/2013 00:53"
                    ]
                });
            });
        </script>
    </div>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

