<!-- <li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: 50), post.user %>
  <span class="user"><%= link_to post.user.firstName, post %></span>
  <span class="content">
  <%= post.name %>
  <%= post.description %>
  <% if !@post_attachments.nil? %>
  <% @post_attachments.each do |p| %>
  <%= image_tag p.avatar_url %>
  <% end %>


<% end %>

  <% if !@post_attachments.nil? %>
  <% @category.each do |p| %>
      <%= @post.categories %>
  <% end %>
  <% end %>

  </span>
  <span class="timestddamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
    <% if current_user?(post.user) %>
      <%= link_to "delete", post, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
 -->

<div class="card-box col-md-4 col-sm-4">
                <div class="card" data-background="color" data-color="black">                            
                    <div class="header">
                  
                       <% post.attached_assets.each do |file| %>
                        
                           <%= image_tag(file.asset.url(:original)) %>
                          
                    <% end %>
                        <div class="category">
                            <h6 class="label label-danger">Favorite</h6>    
                        </div>
                     

                        <div class="filter"></div>
                        
                        <div class="actions">
                            <button class="btn btn-round btn-fill btn-neutral btn-modern">
                                View More Photos
                            </button>
                        </div>
                    </div>
                    
                    <div class="content">
                        <h6 class="category"><%= Category.find(post.category_id).name %></h6>
                        <h5 class="title"><%= link_to post.name, post %></h5>
                        <p class="description"><%= post.description %></p>
                    </div>                                           
                </div> <!-- end card -->      
            </div> 

            