<!-- <li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: 50), post.user %>
  <span class="user"><%= link_to post.user.firstName, post %></span>
  <span class="content">
  <%= post.name %>
  <%= post.description %>
  <% if !@post_attachments.nil? %>
  <% @post_attachments.each do |p| %>
  <%= image_tag p.avatar_url %>
  <% end %>


<% end %>

  <% if !@post_attachments.nil? %>
  <% @category.each do |p| %>
      <%= @post.categories %>
  <% end %>
  <% end %>

  </span>
  <span class="timestddamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
    <% if current_user?(post.user) %>
      <%= link_to "delete", post, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
 -->
<div class="card-box ..col-md-3 .col-sm-3">
                <div class="card" data-background="color" data-color="black">                            
                    <div class="header">
                    <% if !@post.attached_assets.nil? %>
                       <% @attached_photos.first(1).each do |file| %>
                          <li>
                           <%= image_tag(file.asset.url(:thumb)) %>
                          </li>
                        <% end %>
                    <% else %>
                      <img src="assets/images/home-1.jpg"/>
                    <% end %>
                        <div class="category">
                            <h6 class="label label-danger">Favorite</h6>    
                        </div>
                     

                        <div class="filter"></div>
                        
                        <div class="actions">
                            <button class="btn btn-round btn-fill btn-neutral btn-modern">
                                View More Photos
                            </button>
                        </div>
                    </div>
                    
                    <div class="content">
                        <h6 class="category">Interior Design</h6>
                        <h4 class="title"><a href="#">@post.name</a></h4>
                        <p class="description">@post.description</p>
                    </div>                                           
                </div> <!-- end card -->      
            </div> 

            