<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Free</th>
      <th>Price</th>
      <th>Obo</th>
      <th>Expiredate</th>
      <th>Tix eventname</th>
      <th>Tix eventdate</th>
      <th>Tb classname</th>
      <th>Tb classnumber</th>
      <th>Tb edition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% !@posts.nil? && @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.free %></td>
        <td><%= post.price %></td>
        <td><%= post.obo %></td>
        <td><%= post.expiredate %></td>
        <td><%= post.tix_eventname %></td>
        <td><%= post.tix_eventdate %></td>
        <td><%= post.tb_classname %></td>
        <td><%= post.tb_classnumber %></td>
        <td><%= post.tb_edition %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
