<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @post.name %>
  <%= @post.description %>
</p>
<% @attached_photos.each do |file| %>
  <li>
    <%=link_to file.team.name, file.team %> - 
    <%= link_to file.asset_file_name, file.asset.url, html_options = {download: ''} %>
  </li>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>